services:
  mysql:
    image: mysql:latest
    ports:
      - "3307:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: spring_boot_rest_api
      MYSQL_USER: dev
      MYSQL_PASSWORD: soksan
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data: